#style-switcher h2 a { background: #dd3333 none repeat scroll 0 0 }

/*START SCROLL TO TOP*/
.topcontrol {background: #dd3333 none repeat scroll 0 0;}
/*END SCROLL TO TOP*/


/*START MENU*/
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #dd3333 !important;
    background-color: transparent;
}
.menu-top li a:hover { color: #dd3333!important }
.navbar-default.menu-shrink li a:hover { color: #dd3333 !important }
.navbar-default .navbar-toggle .icon-bar { background-color: #dd3333 }
/*END MENU*/


.btn-light-bg {background: #dd3333 none repeat scroll 0 0;border: 2px solid #dd3333;}
	
.section-title h2 span { color: #dd3333 }

.section-title div {background: #dd3333  none repeat scroll 0 0;}

.btn-home-bg {background: #dd3333 none repeat scroll 0 0;border: 1px solid #dd3333;}

.single_about:hover i {
    background: #dd3333;
    border: 1px solid #dd3333;
}
.single_about:hover h4 { color: #dd3333; }


.progress-bar > span {background: #dd3333 none repeat scroll 0 0;}


.single_feature i {background:#dd3333;}

.carousel-indicators .active {
    border: 1px solid #dd3333;
    background: #dd3333 none repeat scroll 0 0;
}
.single_service i {color: #dd3333;}

.our_work_menu ul li:hover, .our_work_menu ul li.active{
	border-color: #dd3333 ;
	color:#dd3333;
}


.counter i {color: #dd3333;}

.counter:hover i {background: #dd3333 none repeat scroll 0 0;border: 1px solid #dd3333;}

.single_team .social_link a:hover{
	background: #dd3333;
	border-color: #dd3333;
}


.signup_form input:focus {
    border-color:#dd3333;
}
.color-two {
    background: #dd3333;
    color: #fff;
}
.color-three {
    background: #dd3333;
    color: #fff;
}
.pricing-btn  button {
    background: #dd3333;
    border: 1px solid #dd3333;}
	
.home_blog_text span {color: #dd3333;}	

.buy_now {
    background: #dd3333 none repeat scroll 0 0;
}

.contact input:focus,
.contact textarea:focus {
    border-color:  #dd3333;
    box-shadow: none;
    outline: 0 none;
}
.btn-contact-bg {
	background: #dd3333 none repeat scroll 0 0 !important;
	border: 1px solid #dd3333 !important;}







